<div class="home-header-background"></div>

<div class="home-header-container tab-0">
  <p class="twelve columns home-header">
    <%= image_tag("https://s3.amazonaws.com/uphold-assets/logo-transparent.png", class: "home-header-logo") %>
  </p>
</div>

<div class="filler-container">
  <p class="filler">
    What We Do
    <i class="fa fa-arrow-down"></i>
  </p>
</div>

<div class="twelve columns services-home">
  <%= link_to live_path do %>
    <div class="service live" id="tl">
      <p class="service-title">Uphold LIVE</p>
      <p class="service-text">Book Your Next Ticket Today</p>
    </div>
  <% end %>
  <%= link_to management_path do %>
    <div class="service live" id="tr">
      <p class="service-title">Uphold Management</p>
      <p class="service-text">Band Management Done Right</p>
    </div>
  <% end %>
  <%= link_to agency_path do %>
    <div class="service live" id="bl">
      <p class="service-title">Uphold Agency</p>
      <p class="service-text">Get Your Band's Next Gig</p>
    </div>
  <% end %>
  <%= link_to venue_center_path do %>
    <div class="service live">
      <p class="service-title">Uphold Venue Center</p>
      <p class="service-text">Have a Venue? Good. We Can Help.</p>
    </div>
  <% end %>
</div>

<div class="twelve columns filler-container">
  <p class="filler">
    Who We Are
    <i class="fa fa-arrow-down"></i>
  </p>
</div>

<div class="twelve columns home-about">
  <p class="u-pull-left relative-fade">Uphold is a Virginia based concert promoting and event producing company that is rooted in the engagement of people and community. <i class="fa fa-arrow-down"></i></p>
  <p class="u-pull-right relative-fade">Uphold focuses on bringing music, events, and entertainment to the state of Virginia with the intentions of making people the center of what we do. Putting an emphasis on the artist and audience's experience being one that is enjoyable and beneficial. <i class="fa fa-arrow-down"></i></p>
  <p class="u-pull-left relative-fade">Our mission is to be a driving force in the music industry and set an example for all that we encounter that the industry should support and encourage all artists with the ambition and drive to follow their dreams. We do this through honest and clear expectation and communication and a heart of service and respect for them. We want to keep art alive by pouring into the artists to make their life on the road a easier more enjoyable experience.
  </p>
</div>
