<div class="home-header-background"></div>

<div class="home-header-container tab-0">
  <p class="twelve columns home-header">
    <%= image_tag("logo", class: "home-header-logo") %>
  </p>
</div>

<div class="home-filler-container">
  <p class="home-filler">
    What We Do
    <i class="fa fa-arrow-down"></i>
  </p>
</div>

<div class="twelve columns services-home">
  <%= link_to live_path do %>
    <div class="service live" id="tl">
      <p class="service-title">Uphold LIVE</p>
      <p class="service-text">Book Your Next Ticket Today</p>
    </div>
  <% end %>
  <%= link_to management_path do %>
    <div class="service live" id="tr">
      <p class="service-title">Uphold Management</p>
      <p class="service-text">Band Management Done Right</p>
    </div>
  <% end %>
  <%= link_to agency_path do %>
    <div class="service live" id="bl">
      <p class="service-title">Uphold Agency</p>
      <p class="service-text">Get Your Band's Next Gig</p>
    </div>
  <% end %>
  <%= link_to venue_center_path do %>
    <div class="service live">
      <p class="service-title">Uphold Venue Center</p>
      <p class="service-text">Have a Venue? Good. We Can Help.</p>
    </div>
  <% end %>
</div>