<%= form_for musician do |f| %>
  <div>
    <%= f.label :first_name  %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name  %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :bio  %>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.label :instruments, "Instrument(s)" %>
    <%= f.text_field :instruments %>
  </div>

  <div>
    <%= f.label :band_ids %>
    <%= f.collection_select(:band_ids, Band.all, :id, :name,{}, {:multiple => true}) %>

  </div>

  <div>
    <%= label_tag :image, "Upload Image" %>
    <%= f.file_field :file %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>