<%= form_for event do |f| %>
  <div>
    <%= f.label :name  %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description  %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :start_time  %>
    <%= f.datetime_select :start_time %>
  </div>

  <div>
    <%= f.label :end_time  %>
    <%= f.datetime_select :end_time %>
  </div>

  <div>
    <%= f.label :band_ids, "Bands" %>
    <%= f.collection_select(:band_ids, Band.all, :id, :name, {}, {multiple: true, "style" => "height:200px"}) %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>