<div>
  <h4>Bands already added for <%= @event.name %> </h4>
  <% @event.bookings.each_with_index do |booking, index| %>
    <div>
      <%= "#{index + 1}) #{booking.band.name} #{booking.headliner_text}" %> <%= link_to "Remove", booking_path(booking), method: "DELETE" %>
    </div>
  <% end %>
</div>


<div>
  <%= form_for @booking do |f| %>
    <div>
      <%= label_tag :band_id, "Add New Band" %>
      <%= collection_select(:booking, :band_id, Band.all, :id, :name, prompt: true) %>
    </div>

    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.hidden_field :rank, value: @event.bookings.count %>

    <div>
      <%= f.submit "Add Band" %>
    </div>
  <% end %>
</div>

<div>
  <h4>Packages already added for <%= @event.name %> </h4>
  <% @event.packages.each do |package| %>
    <div>
      <%= package.name %> <%= link_to "Remove", package_path(package), method: "DELETE" %>
    </div>
  <% end %>
</div>

<div>
  <%= render partial: "packages/form", locals: { package: @package, event: @event } %>
</div>

<div>
  <h4>Images already added for <%= @event.name %> </h4>
  <% @event.images.each do |image| %>
    <div>
      <%= image.url %> <%= link_to "Remove", image_path(image), method: "DELETE" %>
    </div>
  <% end %>
</div>

<div>
  <%= form_for @event do |f| %>
    <%= label_tag :image, "Upload an Image" %>
    <%= f.file_field :file, multiple: true  %>

    <%= f.submit "Add Image" %>
  <% end %>
</div>

<div>
  <%= form_for @event do |f| %>

    <%= f.hidden_field :live, value: true %>

    <div>
      <%= f.submit "Post Event" %>
    </div>
  <% end %>
</div>