<div>
  <h4>Bands already added for <%= @event.name %> </h4>
  <% @event.bookings.each do |booking| %>
    <div>
      <%= booking.band.name %> <%= link_to "Remove", booking_path(booking), method: "DELETE" %>
    </div>
  <% end %>
</div>


<div>
  <%= form_for @booking do |f| %>
    <div>
      <%= label_tag :band_id, "Add New Band" %>
      <%= collection_select(:booking, :band_id, Band.all, :id, :name, prompt: true) %>
    </div>

    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.hidden_field :rank, value: @event.bookings.count %>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>