<!-- mobile Nav -->
<div class="mobile-nav-container">
  <nav class="mobile-nav header-nav">
    <li>
      <%= link_to "UPHOLD", root_path %>
    </li>
    <% if is_admin? %>
      <%= render partial: "layouts/admin_nav" %>
    <% end %>
    <li class="u-pull-right" id="mobile-nav-menu">
      <i class="fa fa-bars"></i>
    </li>
  </nav>

  <div class="mobile-nav-items">
    <li class="mobile-dropdown">
      Services <i class="fa fa-caret-down mobile-dropdown"></i>
      <ul class="mobile-nav-services">
        <li><%= link_to "Uphold LIVE", live_path %></li>
        <li><%= link_to "Uphold Management", management_path %></li>
        <li><%= link_to "Uphold Agency", agency_path %></li>
        <li><%= link_to "Uphold Venue Center", venue_center_path %></li>
      </ul>
    </li>
    <li>
      <%= link_to "Media", media_path %>
    </li>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <li>
      <%= link_to "Contact", contact_path %>
    </li>
  </div>
</div>
<!--  -->
<!-- Desktop Nav -->
<div class="desktop-nav-container">
  <nav class="desktop-nav header-nav">
    <%= link_to root_path do %>
      <li>
        UPHOLD
      </li>
    <% end %>

    <% if is_admin? %>
      <%= render partial: "layouts/admin_nav" %>
    <% end %>

    <li class="u-pull-right">
      <%= link_to "Contact", contact_path %>
    </li>
    <li class="u-pull-right">
      <%= link_to "About", about_path %>
    </li>
    <li class="u-pull-right">
      <%= link_to "Media", media_path %>
    </li>
    <li class="u-pull-right dropdown">
      Services <i class="fa fa-caret-down"></i>
      <ul class="nav-services">
        <li><%= link_to "Uphold LIVE", live_path %></li>
        <li><%= link_to "Uphold Management", management_path %></li>
        <li><%= link_to "Uphold Agency", agency_path %></li>
        <li><%= link_to "Uphold Venue Center", venue_center_path %></li>
      </ul>
    </li>
  </nav>
</div>
  <!--  -->