<!DOCTYPE html>
<html>
<head>
  <title>Uphold</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render partial: "layouts/nav" %>
<p id="flash-warn"><%= flash[:warn] %></p>
<div class="content-container">
  <%= yield %>
</div>
<%= render partial: "layouts/footer" %>

</body>

<%= javascript_include_tag 'application' %>
</html>
